<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Config-Server</title>
</head>
<body>
  <div id="configDbDiv">
    Db config placeholder
  </div>
  <div>
     <button onclick="getCurrentDbConfig()" type="submit">Get current config</button>
     <button onclick="getNewDbConfig()" type="submit">Get new config from db</button>
   </div>
    <br>
    <div id="configGitDiv">
        Git config placeholder
    </div>
    <div>
        <button onclick="getCurrentGitConfig()" type="submit">Get current config</button>
        <button onclick="getNewGitConfig()" type="submit">Get new config from git</button>
    </div>
</body>
<script src="/js/functions.js" type="text/javascript"></script>
</html>
